.projects {
  list-style-position: inside;
  margin-top: 20px;

  li {
    a {
      color: var(--muted-foreground);
      font-weight: 500;
      text-decoration: none;
      transition: 100ms ease-in-out all;
    }

    a:hover {
      color: white;
      text-decoration: underline;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
